body{
	font-family: 'Open Sans', sans-serif;
}
.idontknow {
  color: #02cac8;
}
.header {
  margin:0px;
  width:100%;
}
#results h5 {

  font-weight: normal;

}

#results h4 {
  background-color: #6d7275;
  padding-left: 0px;
  font-size: 14px;
  font-style: italic;
}

.articleDiv {
  background-color: #6d7275;
  margin:10px;
  border-radius: 10px;
  padding:10px;
  color: white;
}
.jumbotron{
	background-color: #02cac8;
}

.container h1{
	color:#fff;
	font-size:52px;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

.panel-default .panel-heading {
  background-color: #02cac8;
}

h4{
	color:#fff;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
}
/* #box{
	border:5px solid #02cac8;
	margin-bottom: 10px;
	padding-bottom: 10px;
} */

.container{
	margin-bottom: 10px;
	padding-bottom: 10px;
}
